#app {
  width: 100%;
}

body {
  height: 100%;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.main-content {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.light-grey {
  color: #777696e1;
}

.form-group {
  &:hover, &:active {
    z-index: 5;                                                                                                                                                                                                                                                                                                                                               
  }
}

button:disabled {
  cursor: not-allowed;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center !important;

  .cogs-icon {
    width: 30px;
    height: 30px;
    align-self: end;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, .87);

    &:hover {
      cursor: pointer;
      background-color: #0096FA;
    }
  }

  &.in-preparation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-top: 4px solid #ff9b00;
    border-left: 2px solid #f2f8f9;
    border-right: 2px solid #f2f8f9;

    a {
      display: flex;
      -webkit-box-orient: vertical;
    }

    .project-card__bottom {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-right: -1px;
      margin-left: -1px;
      background-color: #ff9b00;
      font-size: 10px;

      .col-3 {
        color: white;
      }
    }
  }

  &.blank {
    background-color: #fbffff;
    border: 2px solid #f2f8f9;
    cursor: pointer;
    align-items: center;

    label {
      margin-top: 10px;
      color: grey;
      font-weight: 600;
      cursor: pointer;
    }

    &:hover {
      label {
        margin-top: 10px;
        color: #0096FA;
        cursor: pointer;
      }
    }
  }
}

.row-projects {
  margin-bottom: 3em;
}

.dashboard-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 100px);

  .page-title {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .statuses {
    label {
      font-size: 16px;
      color: grey;
    }

    ul {
      border-top: 1px solid #f9f9f9;
      border-bottom: 1px solid#f9f9f9;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;

      li {
        margin-left: 20px; 
      }
    }
  }

  .show {
    display: block;
  }
}

.green-dot {
  height: 7px;
  width: 7px;
  margin-right: 15px;
  background-color: #26bd5d;
  margin-bottom: 1px;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 7px;
  width: 7px;
  margin-right: 15px;
  margin-bottom: 1px;
  background-color: #ff9b01;
  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  height: 7px;
  width: 7px;
  margin-right: 15px;
  margin-bottom: 1px;
  background-color: #ff2826;
  border-radius: 50%;
  display: inline-block;
}

.gray-dot {
  height: 7px;
  width: 7px;
  margin-right: 15px;
  margin-bottom: 1px;
  background-color: #b2ced1;
  border-radius: 50%;
  display: inline-block;
}

.modal:not(#exampleModalLong) {
  left: auto !important;
  top: auto !important;
  margin: 1rem auto !important;
  width: auto !important;
  height: auto !important;
  overflow: inherit !important;
}

.admin-status {
  .admin-status__info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
  }

  .admin-status__info-block_email {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0096FA;
  }
}

.modal-window {
  min-width: 500px;
  will-change: top, left, margin, opacity !important;
  line-height: 1.5;

  h4 {
    font-family: 'aktiv-grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    padding-left: 30px;
    padding-right: 30px;

    &.info-modal {
      padding-left: 60px;
      padding-right: 60px;
      max-width: 500px;

      a:hover {
        text-decoration: none;
        outline: none;
        color: #007bff;
      }
    }

    &.company-data {
      max-width: 550px;
    }

    &.project-name,
    &.company-data,
    &.member-details {
      .form-group {
        width: 100%;

        label {
          color: #c8d8d9;
          display: flex;
        }
      }

      .select-row {
        .col-6:first-of-type {
          padding-left: 0;
        }

        .col-6:last-of-type {
          padding-right: 0;
        }
      }
    }
    &.company-data {
      .col-55per {
        -webkit-box-flex: 0;
        flex: 0 0 55%;
        max-width: 55%;
      }
      .col-45per {
        -webkit-box-flex: 0;
        flex: 0 0 45%;
        max-width: 45%;
      }
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
    .custom_row {
      width: 100%;
    }
  }
  .modal-footer {
    background-color: #efefef;
    border: none;
    button {
      padding: 0.2em 2em;
    }
  }

  .checkbox-terms {
    display: flex;
    align-items: center;
    align-content: center;
    label {
      margin-top: 0 !important;
      margin-bottom: 0px;
    }
  }

  .project-admin {
    display: flex;
    color: lightgrey;
    align-self: baseline;
  }

  .new-project-modal {
    // max-width: 490px;
    h4 {
      padding-left: 30px;
      padding-top: 30px;
      font-weight: 600;
    }

    h6 {
      align-self: flex-start;
      margin-bottom: 40px;
      font-size: 18px;
    }
  }

  .form-check-label {
    display: inline-block !important;
  }
}

form {
  label {
    white-space: nowrap;
    overflow: hidden;
  }
}

.admin-form {
  width: 100%;
  max-width: 440px;
}

.nav-bar {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 2px solid lightgrey;
  display: flex;

  .nav-bar-item {
    display: inline-flex;
    margin-bottom: -2px;

    .nav-bar-element {
      text-decoration: none;
      border: none;
      background-color: transparent;
      color: lightgrey;
      display: flex;
      padding: 10px;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 2px solid transparent;
      align-items: center;
      align-content: center;

      &:hover {
        color:  #0096FA;
        border-bottom: 2px solid  #0096FA;
      }

      &.active {
        color: black;
        border-bottom: 2px solid black;
      }
    }
  }
}

.project-settings {
  height: 100%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;

  .col-lg-4 {
    margin-bottom: 5em;
  }
}

.manage-members-actions-button {
  max-width: 15em;

  & > button {
    width: 100%;
  }
}

.block-title {
  font-size: 12px;
  color: #ced4da;
  display: flex;
  padding-bottom: 0.5em;

  .dropdown {
    margin-left: auto;

    .item {
      *:not(path) {
        transition-duration: 0s !important;
        transition: 0s ease-in-out !important;
      }
    }
  }

  .item {
    .text {
      display: flex !important;

      .item-text {
        align-self: center;
        margin-left: 5px;
      }
    }
  }

  .active-admin {
    padding-left: 1em;
  }
}

.logo-uploader {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ced4da;
  height: 81px;
  width: 81px;
  border-radius: 5px;
  text-align: center !important;
  cursor: pointer;

  .logo-container {
    height: 100%;
    width: 100%;

    .trash-icon-container {
      display: none;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #475859;
    }

    &:hover {
      .trash-icon-container {
        display: flex;
      }

      img {
        display: none;
      }
      
    }
  }

  strong {
    color: #ced4da;
  }

  .image-preview {
    width: 100%;
    height: 100%;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  img {
    cursor: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  label {
    transition: 0s !important;
    cursor: pointer;
    flex-direction: column;
    align-self: auto !important;
  }

  &:hover,
  &:focus {
    label {
      color: #0096FA !important;
    }
  }
}

.tab-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-white {
  color: lightgrey !important;
  background-color: #fff !important;
  border-color: lightgrey !important;

  &:hover {
    color: grey !important;
    background-color: #fff !important;
    border-color: grey !important;
    text-decoration: none !important;
  }
}

.btn-white-blue {
  display: flex !important;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  color: #0096FA !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;

  &.clear-form {
    position: absolute;
    left: 30px;
  }

  &:hover:not(.with-dots) {
    background-color: rgba(0, 150, 250, 0.685) !important;
    color: #fff !important;
  }
}

.btn-purple {
  color: #fff !important;
  background-color: #0095f9 !important;
  border-color: #0095f9 !important;

  &:hover {
    color: #fff !important;
    background-color: #221f6d !important;
    border-color: #221f6d !important;
    text-decoration: none !important;
  }
}

.second-admin {
  margin-top: 8px;
}

.await-confirm-admin {
  color: #ff9b00;
}

.active-admin {
  color: #26bd5d;
}

.uncofirmed-admin {
  color: #ff2826;
}

.wide-button {
  width: 100%;
}

.project-title-editable {
  margin-top: 5em;
  font-size: 16px;
}

#member-managment, #project-status {
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding-left: 30px;
  padding-right: 30px;
  .nav-bar {
    max-width: fit-content;
    .nav-bar-element {
      align-items: center;
    }
  }
}

.member-managment-buttons {
  display: flex;
  margin-left: auto;
  align-self: center;
  .btn {
    margin-left: 10px;
    min-width: 100px;
  }
}

.member-managment-first-line {
  display: flex;
  align-items: center;
  margin-top: 30px;
  h5 {
    margin: 0;
  }
}

.main-table-block, .rect-checkbox {

  input[type=checkbox]+label {
    background-color: #e8f3f4;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  input[type=checkbox]:checked+label {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #e8f3f4;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
}

input[type=checkbox]+label {
  background-color: #e8f3f4;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

input[type=checkbox]:checked+label {
  background: url('../../images/checked_checkbox.svg') no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e8f3f4;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-size: 100%;
}

.main-table-block {
  border: none !important;
  font-size: 12px !important;
  border-collapse: collapse !important;

  tbody {
    tr {
      border-top: 1px solid rgba(34, 36, 38, .1) !important;
    }
  }

  th {
    border-radius: 0 !important;
    background: #fff !important;
    border: none !important;
    border-bottom: 1px solid grey !important;
    padding: 5px !important;
    color: lightgrey !important;
    font-weight: 500 !important;

    &.table-checkbox {
      padding-left: 16.8px !important;
      
      label {
        margin-bottom: 0;
      }
    }
  }

  td {
    border-top: none !important;
    padding-left: 22px !important;
    padding-left: 1.2rem !important;
    align-content: center;
    text-align: center;

    &.td-select-dropdown {
      max-width: 120px !important;
      min-width: 180px;
    }

    &.table-checkbox {
      min-width: 20px !important;
      vertical-align: middle;

      & > div {
        width: fit-content;
        height: fit-content;
        display: flex;
      }
    }

    &.member-id {
      padding-top: 15px !important;
      color:#0095f9;
    }

    &.access-column {
      min-width: 180px !important;

      .btn-for-switch {
        height: 33.5px;
      }
    }

    &.td-files {
      & > div {
        display: flex;
        justify-content: center;
      }

      .common-file-icon {
        width: 22.5px;
        min-width: 22.5px;
        min-height: 24px;
        height: 24px;
      }
    }

    &.td-date {
      white-space: nowrap;
    }
  }

  .team-title-column {
    min-width: 350px;

    .btn {
      color: #0095f9;
    }
  }

  .name-column, .team-title-column {
    position: relative;
    flex-direction: row;
    display: flex;

    .user-and-conpany {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .UserAvatar {
      display: inline-block;
      color: #fff;
      margin-right: 5px;
    }

    .master-icon {
      display: flex;
      width: 23px;
      height: 23px;
      justify-content: center;
      align-content: center;
      position: absolute;
      border: 2px solid white;
      background-color: #4b5b5d;
      color: white;
      border-radius: 100%;
      left: 5px;
      top: 30px;
    }
  }
}

span.divider {
  position: relative;
  display: inline-block;
  width: 0;
  height: 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  top: 3px;
}

.dropdown-menu {
  min-width: fit-content;
  width: 100%;
  margin-top: -1px; 
  z-index: 9;
  padding: 0;
  padding: 5px !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .dropdown-item {
    min-width: fit-content;
    color: grey;
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer;

    span.item-text {
      margin-left: 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    a {
      color: grey;
    }
  }

  &.left {
    right: 0 !important;
    left: auto !important;
  }

  .dropdown-item:not(.dropdown-submenu) {
    &:hover,
    &:active {
      background-color: #f5fcfc;
      color: #0095f9;

      a {
        color: #0095f9;
      }

      .svg-icon {
        background-color: #0095f9 !important;
      }
    }
  }
}

.btn-group {
  display: block !important;
}

.dropdown-with-icon {
  display: flex !important;
  align-items: center;

  .dots-container {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-items: center;

    .dots-icon {
      background-color: rgb(163, 201, 204) !important;
    }
  }

  button.with-dots {
    border: none !important;
    padding: 0;
    background: transparent !important;

    &:hover, &:active {
      .dots-icon {
        background-color: #0096FA !important;
      }
    }
  }
}

.table-block {
  min-height: 300px;
  overflow: auto;
  margin-top: 10px;
  max-height: 60vh;
}

.with-icon {
  display: flex !important;
  
  span {
    font-weight: 500;
    color: #0095f9;
    align-items: flex-end;
    align-self: flex-end;
    text-align: left;
  }

  .svg-icon {
    margin-right: 10px;
  }

  &:hover {
    span {
      color: #006cb4;
    }
  }
}

div.tab-description {
  display: flex;
  align-items: center;
  
  span {
    color:#ced4da;
  }

  .green-check-icon {
    margin-left: 10px;
    min-height: 13px;
    height: 13px;
    min-width: 15px;
    width: 15px;
  }
}

.btn-back-to-project {
  width: max-content;
  margin-top: 20px;
  display: flex !important;
  align-items: center;
  font-size: 11px !important;
  color: rgb(143, 176, 179) !important;
  &:hover,
  &:active {
    svg {
      g {
        fill: #7fc9fb;
      }

      path {
        fill: white;
      }
    }
  }
}

.confirm-msg {
  background-color: #475759 !important;

  .msg-card {
    display: grid;
    grid-template-areas:
      "text text"
      "cancel delete";
    grid-gap: 10px;
    color: white;
    width: 150px;
    white-space: normal;
    line-height: 1.2;

    span {
      grid-area: text;
    }

    .btn-white-grey {
      grid-area: cancel;
    }

    .btn-white-red {
      grid-area: delete;
    }
  }

  &::after {
    background-color: #475759 !important;
  }

  button {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 2px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.btn-white-grey {
  background-color: #293333 !important;
  border: none;
  color: #fff !important;
}

.btn-white-red {
  background-color: #f46b70 !important;
  border: none;
  color: #fff !important;
}

.statuses-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center !important;

  &.blocked {
    background-color: #fbffff;
    border: 2px solid #f2f8f9;
    cursor: pointer;

    label {
      margin-top: 10px;
      color: #ccc;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &.active {
    background-color: #fbffff;
    border-right: 2px solid #f2f8f9;
    border-left: 2px solid #f2f8f9;
    border-bottom: 4px solid #03b342;
    border-top: 4px solid #03b342;
    cursor: pointer;

    label {
      margin-top: 10px;
      color: grey;
      font-weight: 600;
      cursor: pointer;
    }

    &:hover {
      label {
        margin-top: 10px;
        color: #0096FA;
        cursor: pointer;
      }
    }
  }

  &.available {
    background-color: #fbffff;
    border: 2px solid #f2f8f9;
    cursor: pointer;

    label {
      margin-top: 10px;
      color: #0096FA;
      font-weight: 600;
      cursor: pointer;
    }

    &:hover {
      background-color: #7fc9fb;
      border-radius: 5px;
      label {
        margin-top: 10px;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.btn-move-to-archive {
  display: flex !important;
  border: 1px solid #ccc !important;
  
  .common-file-lock {
    margin-right: 10px;
  }

  &:hover, &:active {
    background-color: #daf0ff;
    color: #2fa7f9 !important;
    
    .common-file-lock {
      background-color: #2fa7f9 !important;
    }
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

/* Switch */
label.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.dropdown-with-switch {
  .dropdown-item {
    padding: 5px;
    color: #475859;
    border-bottom: 1px solid #ced4da;
    justify-content: flex-end;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type {
      margin-top: 3px;
    }

    &:last-of-type {
      border: none;
      margin-bottom: 5px;
    }
    &.mainitem {
      font-size: 14px;
      font-weight: 600;

      .switch {
        margin-left: auto !important;
      }
    }
    &.subitem {
      font-size: 12px;
    }
    .item-text {
      width: 100%;
    }

    &:hover,
    &:active {
      background-color: initial !important;
    }
  }

  .btn-for-switch {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    display: flex !important;
    align-items: center;
    line-height: 1.25 !important;
    width: 100%;
    font-size: 1em;

    &::after {
      padding: 3px;
      margin-left: auto !important;
    }
  }

  &:not(.show) {
    .btn-for-switch::after {
      transform: rotate(45deg) !important;
      -webkit-transform: rotate(45deg) !important;
      border: solid #475859 !important;
      border-width: 0 3px 3px 0 !important;
    }
  }

  &.show {
    .btn-for-switch {
      z-index: 10 !important;
    }
    .btn-for-switch::after {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      border: solid #2196F3 !important;
      border-width: 0 3px 3px 0 !important;
    }
  }
}

i.arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  &.down {
    border-color: #475859;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &.up {
    border-color: #2196F3;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.gray-purple {
  color: #9a98d9;
}

.dropdown-submenu {
  background: none;
  border: none;

  button {
    display: flex;
    align-items: center;
    padding: 0 !important;
  }

  .dropdown-menu {
    top: 0;
    left: 105%;
  }

  &:active {
    color: #fff;
    text-decoration: none;
    background: none !important;
  }
}

.download-files-dropdown {
  min-width: 350px;
  padding: 10px;

  .download-files-dropdown__title {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;

    span {
      color: gray;
    }
  }

  .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    label {
      margin-right: 10px; 
    }

    span {
      margin-left: 10px; 
    }
  }

  .button-block {
    display: flex;

    button {
      height: 30px;
      display: flex;
      justify-content: center;
    }

    button:first-of-type {
      margin-right: 5px;
    }

    button:last-of-type {
      margin-left: 5px;
    }
  }
}

.drop-zone-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed lightgray;
  border-radius: 5px;
  min-height: 120px;
  padding: 15px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.with-file {
    background-color: #f7fbfb;
  }

  p {
    color: lightgray;
  }

  p:first-of-type {
    margin: 0;
  }

  span {
    color: #2196F3;

    &.reject {
      color: red;
    }
  }

  .accepted-file {
    display: flex;
    align-items: center;
    justify-content: center;

    .accepted-file__text {
      display: flex;
      flex-direction: column;
      max-width: 70%;

      * {
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
      }
    }

    .file-name {
      font-size: 16px;
      color: gray;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.disabled {
    color: '#2fa7f9';
    background-color: #e9ecef;
    cursor: default;
  }
}

.color-blue {
  color: #0096FA !important;
}

.acceess-rights__drop-down {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;

  .acceess-rights__drop-down-row {
    display: flex;
    flex-direction: row;
  }
}

.close-icon {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: lightgrey;
  border-radius: 100%;

  &:hover {
    opacity: 1;
  }

  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.upload-file-row {
  label.blue {
    color: #2196F3 !important;
    cursor: pointer;
  }
}
