@import "../../../node_modules/slick-carousel/slick/slick.css";

/* Border-Box */

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;


  --color-blue: #0096FA;      // CTA, Links, Buttons, Hover
  --color-black: #293233;     // Page headline
  --color-text: #475759;      // Headlines, Text, Icons
  --color-labels: #8FB0B3;    // Info Text, Labels
  --color-disabled: #B8D6D9;  // Non-Clickable Forms
  --color-grey: #B2CED1;      // Input Forms Text
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
}

body {
  -webkit-text-size-adjust: none;
  font-family: 'aktiv-grotesk', sans-serif !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #373737;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.black {
  color: var(--color-black) !important;
}

.grey {
  color: var(--color-text) !important;
}

.green {
  color: #28bc58 !important;
}

ul {
  list-style: none;
}

p {
  color: var(--color-black);
  line-height: 1.5;
}

a {
  text-decoration: none !important;
  outline: none;
  color: var(--color-blue);

  &:focus, &:active {
    outline: 0 !important;
    box-shadow: none !important;
  }

  &.nav-link {
    &:hover {
      color: white !important;
    }
  }
}

.form-group {
  border-radius: 5px;

  label {
    font-size: 15px;
    margin-bottom: 16px;
  }
}

.p-2_5vw-left {
  padding-left: 3em;
  padding-left: 2.5vw !important;
}

.p-2_5vw-right {
  padding-right: 3em;
  padding-right: 2.5vw !important;
}

.form-control {
  color: var(--color-text);
}

.form-control:not(.checkbox-input) {
  background-color: #FCFFFF;
  max-height: 45px;
  height  : 45px;
  border-color: #E9F3F5;
  border-radius: 5px;
  min-height: 45px;
  font-size: 17px;

  a.blue-link {
    color: var(--color-blue);

    &:hover {
      color: var(--color-blue);
      text-decoration: none;
    }
  }
  
  &::-webkit-input-placeholder {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400 !important;
    box-shadow: none;
  }
  &::-moz-placeholder  {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400 !important;
    box-shadow: none;
  }
  &:-moz-placeholder {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400 !important;
    box-shadow: none;
  }
  &:-ms-input-placeholder {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400 !important;
    box-shadow: none;
  }
  &::placeholder {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400 !important;
    box-shadow: none;
  }

  &:disabled {
    background-color: #f5f9fa;
  }

  &:valid {
    background-color: #fff;
  }

  &:focus {
    box-shadow: 0px 0px 15px #0096FA80;
    border-color: transparent;
  }

  &.is-invalid:not(.checkbox-input) {
    display: block;
    border: 1px solid #FF0042;
    background-image: none;
    box-shadow: 0px 0px 15px #FF004280;
  }
}

.is-invalid {
  .drop-zone-area {
    border: 1px solid #FF0042;
    background-image: none;
    box-shadow: 0px 0px 15px #FF004280;
  }

  .invalid-feedback {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.invalid-feedback {
  position: relative;
  margin-bottom: -16px;
  width: max-content;
  margin-top: 0px;
  background-color: #FF0042;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 10px;
  margin-bottom: -26px;
  text-transform: uppercase;
  max-width: 95%;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-control-select {
  input {
    transition-duration: 0s !important;
  }
}

.form-control-select.is-invalid~.invalid-feedback,
.invalid-feedback.convention-feedback  {
  display: block;
}

.invalid-feedback.convention-feedback  {
  font-size: 0.8em;
  height: 2em;
  text-align: center;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

.landing-page {
  position: relative;
  margin-top: -115px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
  input[type=checkbox]+label {
    background: url('../images/unchecked_checkbox.svg') no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 0;
    margin-right: 1em;
    cursor: pointer;
    vertical-align: middle;
  }

  input[type=checkbox]:checked+label {
    background: url('../images/checked_checkbox.svg') no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 0;
    margin-right: 1em;
    cursor: pointer;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    margin-right: 30px;
  }

  /* CKEDITOR */

  .ck {
    &.ck-editor {
      display: flex;
      flex-direction: column-reverse;
    }

    &.ck-content {
      background: #f0f7f7 !important;
      border-radius: 10px 10px 0 0 !important;
      border-top-color: var(--color-blue) !important;
      border-left-color: var(--color-blue) !important;
      border-right-color: var(--color-blue) !important;
      border-bottom: none !important;
    }

    &.ck-toolbar {
      display: flex;
      justify-content: center;
      border-radius: 10px 10px 0 0 !important;
      background-color: #fff !important;
      border: none !important;
    }

    .ck-sticky-panel__content {
      border-radius: 0 0 10px 10px !important;
      border-bottom: 1px solid var(--color-blue) !important;
      border-left: 1px solid var(--color-blue) !important;
      border-right: 1px solid var(--color-blue) !important;
      background-color: #f0f7f7 !important;
      border-top: none !important;
      justify-content: center;
      justify-items: center;
      align-items: center;
      display: flex;
    }
  }
}

button {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn {
  height: 37px;
  max-height: 43px;
  font-size: 15px;
  line-height: 1;
  border-radius: 5px;
  padding-left: 45px;
  padding-right: 45px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  *,
  *:after,
  *:before {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

}

.icon-arrow-button-right,
.icon-arrow-button-left {
  cursor: pointer;
}

header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
  content: '';
  display: table;
  clear: both;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

@keyframes dashboardSidebar{
  0% {
    margin-left: 300px;
  }

  100% {
    margin-left: 300px;
  }
}

#main {
  position: relative;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
	-webkit-overflow-scrolling: touch;
  flex-basis: 100%;

  &.dashboard {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 100%;
    grid-gap: 100px;
    grid-gap: 10vh;
    padding-left: 90px;
    padding-left: 4.7%;
    padding-right: 87px;
    padding-right: 4.6%;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    margin-left: 300px;
    animation-name: dashboardSidebar;
    animation-duration: 300ms;
    animation-fill-mode: none;

    &.sidebar-off {
      margin-left: 0px !important;
      padding-left: 60px;
      padding-left: 3.2%;

      .content-column {
        margin-left: 9.8% !important;
      }
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;

  &.info-container {
    margin-top: 8em;
    margin-bottom: 8em;
    padding-top: 2em;
    -webkit-overflow-scrolling: touch;
  }


  @media only screen and (min-width: 1300px) {
    min-width: 1300px;
    max-width: 100%;
    width: 70vw;
  }
}

.checkbox-field {
  display: flex;
  align-items: center;
}

.btn-back {
  display: flex;
  margin-right: auto !important;
  align-items: center !important;
  color: #a5adad;
  
  .icon-arrow-button-left {
    font-size: 11px;

    &:before {
      margin-right: 10px;
      color: #a5adad;
    }
  }

  &:hover {
    color: var(--color-black);

    .icon-arrow-button-left {
      &:before {
        color: var(--color-black);
      }
    }
  }
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  
  &.colorful {
    position: relative;
    background: transparent linear-gradient(93deg, #1852B5 0%, #221F6D 57%, #221F6D 100%) 0% 0% no-repeat padding-box;
    opacity: 0.85;
  }

  .btn-back {
    font-size: 15px;
    font-weight: 500;
    margin-right: 0px !important;

    .icon-arrow-button-left {
      font-size: 12px;
    }

    &:hover {
      font-weight: 700;

      .icon-arrow-button-left {
        &:before {
          color: #fff;
        }
      }
    }
  }

  .navbar {
    height: 11.6vh;
    min-height: 80px;
    max-height: 115px;

    .container {
      margin-right: calc(62px + 2.5% - 1rem - 15px);
      min-width: 82%;
    }

    @media only screen and (max-width: 600px) {
      .container {
        margin-right: 0;
      }
    }
  }
}

.nav-item-icon {
  * {
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }

  &.notifications-bell-container {
    button {
      position: relative;
    }

    .notifications-bell {
      background: transparent;

      &.notices {
        position: absolute;
        top: -10px;
        right: -3px;
        height: 7px;
        width: 7px;
        background: transparent radial-gradient(closest-side at 37% 73%, #EC5C60 0%, #FF797D 100%) 0% 0% no-repeat padding-box;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

#first-card {
  height: 1000px;
  position: relative;
  background: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;

  .container {
    display: flex;
    height: 100%;
  }
}

#secondCard {
  height: 1000px;
}

.sign-in-form, .signedup-message, .restore-password-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  color: #fff;
}

.sign-in-form {
  form {
    width: 34.7%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 41px;
    border-bottom: 1px solid #fff;

    .form-group-with-icon {
      display: flex;

      span {
        font-size: 25px;
        padding-bottom: 53px;
        margin-right: 20px;
        align-self: flex-end;
      }

      .icon-password-type {
        font-size: 11px;
        padding-bottom: 59px;
      }

      .form-group {
        width: 100%;
      }
    }

    .sign-in-form__header {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 82px;

      @media only screen and (max-width: 1028px) {
        font-size: 2em;
      }
    }

    .btn-toolbar {
      padding-top: 57px;
    }

    .form-group {
      margin-bottom: 0;

      &:first-of-type {
        padding-bottom: 42px;
      }
    }
  }

  .forgot-password-block {
    padding-top: 60px;
    font-size: 17px;

    div {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &.show-slider {
    left: 0;
  }

  .btn-group {
    width: 50%;
    color: #fff;
    
    .btn {
      color: #fff;
    }
  }

  .btn-back {

    .icon-arrow-button-left {
      font-size: 11px;

      &:before {
        margin-right: 10px;
        color: #fff;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    form {
      width: 70%;
    }
  }


  @media only screen and (max-width: 600px) {
    form {
      min-width: 70%;
      margin-top: 120px;
    }
  }
}

.signedup-message {
  justify-content: center;

  .signedup-message_block {
    width: 50%;

    & > div:first-child {
      text-align: center;
      margin-bottom: 100px;
    }

    & > div.text-msg {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .svg-plan {
    position: relative;
    left: 260px;

    path {
      fill: #fff;
    }
  }

  .svg-line {
    position: relative;
    top: 10px;
    
    path {
      stroke: #fff;
    }
  }
}

.restore-password-content {
  width: 38.5%;

  .form-group-with-icon {
    display: flex;

    span {
      font-size: 25px;
      padding-bottom: 66px;
      margin-right: 20px;
      align-self: flex-end;
    }

    .form-group {
      width: 100%;
    }
  }

  .form-group {
    margin-bottom: 57px;
  }

  .restore-password-content__header,
  .restore-password-content__text-msg {
    text-align: center;
  }

  .restore-password-content__text-msg {
    margin-bottom: 42px;
  }

  .restore-password-content__header {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 82px;
    line-height: 1;
  }

  .btn-block {
    display: flex;
    justify-content: center;

    .btn {
      width: 45%;
    }
  }
}

.menu_nav {
  width: 100%;
  position: relative;
  right: 0;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  .nav-item:first-of-type {
    .nav-link {
      padding-left: 0 !important;
    }
  }

  .nav-item:last-of-type {
    .nav-link {
      padding-right: 0 !important;
    }
  }

  .nav-link {
    font-size: 15px;
    opacity: 0.7;
    font-weight: 400;
    padding-left: 28px !important;
    padding-right: 28px !important;

    &:hover, &:active {
      opacity: 1;
      font-weight: 500;
    }
  }

  &.show-slider {
    right: 2000px;
  }

  li:last-child {
    margin-right: 0;
  }

  @media only screen and (max-width: 1028px) {
    .nav-link {
      font-size: 0.8em
    }

    .nav-item-icon {
      display: none !important;
    }
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.nav-item {
  z-index: 10;

  .btn {
    font-size: 16px !important;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  padding: 0;
  display: inline-block;
  outline: none;
  line-height: 40px !important;

  path {
    fill: white;
  }
}

.navbar-burger-block {
  cursor: pointer;

  @media only screen and (max-width: 1380px) {
    span {
      display: none !important;
    }
  }
  
  span {
    display: flex;
    width: max-content;
    font-size: 1.5em;
    margin-left: 15px;
  }
}

.navbar-collapse {
  position: relative;
  align-self: flex-end !important;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    overflow: visible;
    height: 70px;
  }
}

.navbar-brand {
  display: flex;
  align-content: baseline;
  align-items: baseline;
}

.auth-buttons {
  display: flex;
  flex-direction: row;
  width: 255px;
  justify-content: flex-end;

  .nav-item:first-of-type {
    .nav-link {
      padding-right: 33px;
    }
  }

  .nav-item:last-of-type {
    .nav-link {
      padding-left: 33px;
    }
  }

  .nav-link {
    text-transform: capitalize;
    font-size: 16px;
  }

  li {
    margin-right: 0;
  }

  .notifications-bell-container {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;

    button {
      display: flex;
      align-items: center;
      align-content: center;
    }
  }

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: row;

    .nav-link {
      justify-items: flex-end;
      text-transform: capitalize;
      margin-right: 1em;
    }
  }

  @media only screen and (max-width: 600px) {
    justify-content: center !important;
    width: 100%;
  }
}

.btn-transparent {
  margin-right: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.welocme-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  color: #fff;
  right: 0;
  
  &.show-slider {
    right: 2000px;
  }

  h2 {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  h3 {
    font-family: 'aktiv-grotesk-extended', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 1.2;
  }

  @media only screen and (max-width: 1028px) {

    h2 {
      font-size: 3em;
    }
    
    h3 {
      font-size: 4em;
    }
  }
}

.contact-us {
  width: 333px;
  min-height: 60px;
  border-color: #ECEDED;
  border-radius: 7px;
  color: #221F6D;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

.back-button {
  position: absolute;
  left: 110%;
  font-weight: 700;
  width: 74%;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  button {
    display: flex;

    path {
      fill: white;
    }
  }
  
  &.show-slider {
    left: 0;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    top: 40px;
  }
}

.welcome-and-signin {
  display: flex;
  width: 100%;
  position: relative;
}

.block-header {
  color: #221e6d;
  font-size: 4em;
  font-weight: 700;
  padding-bottom: 1em;
}

#what-is-card {
  padding-top: 170px;
  padding-bottom: 170px;
  border-bottom: 1px solid #eaebeb;

  .what-is-card__title {
    margin-bottom: 120px;
  }

  .container {
    overflow: visible;
  }

  p {
    color: var(--color-text);
    line-height: 2;
  }
}

#samples-card {
  padding-top: 120px;
  padding-bottom: 170px;
  background: #f8f8f8;
  border-bottom: 1px solid #eaebeb;

  .samples-card__title {
    margin-bottom: 120px;
  }

  .container {
    overflow: visible;
  }

  .managment {
    display: flex;
    margin-bottom: 120px;
  }

  .managment-buttons {
    button {
      border-left: 3px solid var(--color-labels);
      border-radius: unset;
      color: var(--color-labels);
      font-size: 20px;
      font-weight: 400;

      &.active {
        border-left: 3px solid #221e6d;
        color: #221e6d;
      font-weight: 700;
      }
    }
  }

  .card-deck {
    margin-left: 80px;
    margin-right: 80px;

    .card {
      border-radius: 5px;
    }
    
    .card-body {
      padding-left: 5px; 
      padding-right: 5px; 
      padding-bottom: 30px;
    }

    .slick-slide {
      & > div {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
    .icon-arrow-button-right {
      position: absolute;
      right: 150px;
      bottom: -50px;
    }

    .icon-arrow-button-left {
      position: absolute;
      right: 185px;
      bottom: -50px;
    }
  }

  .card-img-top {
    min-height: 120px;

    svg {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .card-title {
    font-weight: 500;
    color: #222222;
    font-size: 17px;
    letter-spacing: normal;
    min-height: 40px;
  }

  .card-text {
    color: var(--color-text);
    font-size: 14px;
    line-height: 1.6;
    min-height: 70px;
  }

  .show-example {
    display: flex;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color-blue);
    
    path {
      fill: var(--color-blue);
    }
  }

  .card-content {
    margin-bottom: 10px;
    min-height: 90px;

    h4 {
      margin-bottom: 15px;
    }
  }
}

#pricing-card {
  padding-top: 170px;
  padding-bottom: 170px;
  border-bottom: 1px solid #eaebeb;
  color: var(--color-text);

  .pricing-card__title {
    margin-bottom: 120px;
  }

  h3 {
    font-weight: 400;
    font-size: 30px;
    color: var(--color-text);
  }

  .btn {
    margin-top: 120px;
    width: 333px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-color: #ECEDED;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
  }

  .this-is-pricing {
    margin-top: 30px;
  }

  .pricing-project {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;

    .first-row {
      border-bottom: 5px solid #793DF1;
      padding-top: 1.5em;
      padding-bottom: 1.2em;

      .col-6 {
        font-weight: 500;
        color: var(--color-text);
      }
    }

    .second-row {
      padding-top: 1.2em;

      .col-6 {
        font-weight: 400;
        color: var(--color-text);
      }
    }

  }
}

@keyframes new_slider_anim {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    overflow: visible;
    height: 280px;
  }
}

#reviews-card {
  padding-top: 120px;
  padding-bottom: 70px;
  background: #f8f8f8;
  border-bottom: 1px solid #eaebeb;
  
  .btn-primary {
    margin-top: 120px; 
  }

  .reviews-card__title {
    h3 {
      margin-bottom: 20px;
    }
  }

  .new-slider {
    overflow: visible;
    animation-name: new_slider_anim;
    animation-duration: 0.5s !important;
  }

  .card-deck {
    margin-top: 70px;
    margin-right: 130px;
    margin-left: 130px;

    .card-body {
      padding: 0;
      padding-top: 20px;
    }

    .slick-slide {
      & > div {
        margin-left: 50px;
        margin-right: 50px;
      }
    }

    .card {
      padding: 40px;
      min-height: 400px;
      margin: 0;
      border-color: #E9F3F5;
      border-radius: 5px;
    }

    .icon-arrow-button-right {
      position: absolute;
      right: 150px;
      bottom: -50px;
    }

    .icon-arrow-button-left {
      position: absolute;
      right: 185px;
      bottom: -50px;
    }
  }

  .review-title {
    margin-bottom: 20px;
    font-weight: 700;
  }

  .reviews-user-info {
    display: grid;
    grid-template-columns: 130px 1fr;

    .review-card-avatar {
      height: 100x;
      width: 100px;
      border-radius: 100%;
    }
  }

  .block-header {
    padding-bottom: 10px;
    font-size: 3em;
  }

  .block-description {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .user-name-block {
    display: inline-block;
    padding-top: 10px;

    span:not(.icon-choose_2) {
      font-size: 16px;
      font-weight: 500;
    }

    .user-stars {
      margin-top: 0.5em;
    }

    .user-name {
      display: inline-block;
    }

    .blue-check {
      display: inline-block;
      margin-left: 5px;
    }

    .vote-stars {
      display: inline-block;
    }

    .user-country {
      font-size: 10px;
    }
  }
  .card {
    .card-text {
      margin-bottom: 10px;
    }
  }

  .user-name-block__country {
    color:var(--color-labels);
  }
}

#get-started-card {
  padding-top: 120px;
  padding-bottom: 150px;
  border-bottom: 1px solid #eaebeb;

  .form-row {
    justify-content: center;
  }

  .get-started-card__title {
    margin-bottom: 120px;
  }

  .form-container {
    display: flex;
    position: relative;

    .contact-us-form, .send-card {
      transition: all 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }
    
    .btn-primary {
      margin-top: 70px;
    }

    &.show-slider {

      .contact-us-form {
        left: 3000px !important;
      }

      .send-card {
        left: 0px !important;
      }
    }
  }

  .btn-primary {
    width: 203px;
    height: 55px;
    font-size: 17px;
  }

  .contact-us-form {
    left: 0;
    width: 100%;
    position: relative;
    color: #fff;
    right: 0;
    display: inline-block;

    .left-column {
      display: flex;
      flex-direction: column;
      margin-right: 95px;
      max-width: 455px;

      .form-group.email {
        margin-bottom: auto
      }

      .form-group.phone {
        margin-top: auto
      }
    }

    .textarea-column {
      max-width: 455px;
    }
  }

  .send-card {
    left: -2000px;
    width: 100%;
    position: absolute;
    display: inline-block;
    min-width: 400px;
    color: #fff;
    
    .text-center {
      font-size: 17px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      color: var(--color-text);
    }

    .svg-plan {
      position: relative;
      left: 260px;
    }

    .svg-line {
      position: relative;
      top: 10px;
    }
  }

  .block-header {
    padding-bottom: 3em;
    font-size: 2em;
  }

  textarea {
    min-height: 185px;
    border-radius: 7px;

    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: #c8d8d9;
      font-size: 17px;
    }
  }

  input.form-control {
    min-height: 55px;
    max-height: 55px;
    height: 55px;
    font-size: 17px;
    border-radius: 7px;

    &::placeholder {
      color: #c8d8d9;
      font-size: 17px;
    }
  }
}

.pictures-container {
  position: relative;
  top: -30px;

  .svg-container {
    & > div {
      display: flex;
      justify-content: center;
    }
  }
}

#footer-card {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #eaebeb;
  background-color: #221e6d;
  color: #fff;

  .imptint, .terms {
    color: #fff;
    opacity: .7;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .info-row {
    max-width: 40%;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
  }

  .rights-reserved {
    max-width: 40%;
    margin-top: 10px;
    line-height: 1.7;
    color: #fff;
    opacity: .7;
    opacity: .39;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-primary {
  color: #fff;
  background-color: var(--color-blue);
  border-color: var(--color-blue);

  .icon-arrow-button-right {
    font-size: 11px;
    margin-left: auto;

    &:before {
      color: #fff;
    }
  }
}

#sign-up-form {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 245px;
  padding-bottom: 150px;

  .form-group {
    margin-bottom: 38px;
  }

  form {
    width: 100%;
  }

  .form-fields {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .next-row {
    margin-top: 3em;
  }

  label {
    color: var(--color-labels);
    
    &::placeholder { 
      color: #E9F3F5;
    }
  }

  .steps {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    
    .step {
      padding-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      color: #f2f5f5;
      border-bottom: 5px solid #f2f5f5;

      &.active {
        color: #793DF1;
        border-bottom: 5px solid #793DF1;
      }
    }
  }

  .sign-up-form__header {
    margin-top: 65px;
    margin-bottom: 92px;
    color: #221F6D;
    font-weight: 700;
    font-size: 35px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-back {
    margin-left: auto !important;
    margin-right: 5px !important;
  }

  .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 63.5px;
  }

  .form-buttons {
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2em;
    
    .btn-primary {
      margin-right: auto !important;
      margin-left: 5px !important;
    }
    
    button,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 768px) {
    padding-left: 2em;
    padding-right: 2em;
    
    .sign-up-form__header {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

#new-password-form {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 245px;
  padding-bottom: 150px;

  .new-password-form__header {
    text-align: center;
    color: #221F6D;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 42px;
  }

  .new-password-form__body {

    .new-password-form__body-info {
      margin-bottom: 74px;
      text-align: center;
      color: var(--color-text)
    }
  }

  .form-group {
    margin-bottom: 40px;
  }

  .btn-block {
    display: flex;
    justify-content: center;
    padding-top: 37px;

    .btn {
      width: 45%;
    }
  }
}

input[type=checkbox] {
    display: none;
}

#example-card {
  background-color: var(--color-text);
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #eaebeb;
  overflow: hidden;

  h2 {
    color: white;
    margin-left: 100px;
    margin-right: 450px;
    text-align: center;
  }

  .slick-list {
    margin-left: 100px;
    margin-right: 450px;
  }

  .slick-slide {
    width: auto;
    height: 630px;
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .slick-dots {
    position: absolute;
    display: block;
    right: 50px;
    top: -130px;
    max-width: 300px;

    li {
      width: 300px;
      margin-bottom: 10px;
    }
  }

  .icon-arrow-button-right {
    position: absolute;
    right: 460px;
    bottom: -40px;
  }

  .icon-arrow-button-left {
    position: absolute;
    right: 500px;
    bottom: -40px;
  }

  path {
    fill: white;
  }

  .btn-back {
    background-color: white;
    margin-left: 200px;
    margin-top: 10px;
  }
}

.top-bar-user-info {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-top: 4.4vh;

  ul {
    margin-left: auto;
    display: flex;
  }

  .nav-link {
    path {
      fill: var(--color-labels);
    }
  }

  .navbar-burger-block {
    path {
      fill: var(--color-black);
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--color-black);
  }
}

.UserAvatar--inner {
  background: rgba(244, 167, 0, 1);
  background: -moz-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244, 167, 0, 1)), color-stop(100%, rgba(209, 216, 13, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
  background: linear-gradient(135deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  border: 2px solid #fff;
  line-height: 38px !important;
}

.UserAvatar.middle {
  .UserAvatar--inner {
    line-height: 28px !important;
    font-size: 11px !important;
    color: #fff;
  }
}

.user-info-avatar {
  display: flex;
  margin-bottom: 5px;

  .UserAvatar {
    z-index: 1;
  }
}

.team-icon {
  position: relative;
  display: flex;

  &.with-avatar{
    .UserAvatar {
      z-index: 0;
      margin-right: -10px !important;
    }
  }

  .UserAvatar--inner {
    background: rgb(44, 62, 80);
    background-color: rgb(44, 62, 80) !important;
    color: #fff;
  }

  .team-length {
    position: absolute;
    bottom: -13px;
    left: calc(50% - 7px);
    background: var(--color-black);
    padding: 3px;
    width: 25px;
    height: 25px;
    font-size: 1em;
    color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 1.1;
    vertical-align: middle;
    border: 2px solid white;
  }
}

.user-profile {
  .user-column {
    min-width: 210px;
  }

  .bio-row {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--color-labels);
    border-bottom: 1px solid var(--color-labels);

    h5 {
      margin-bottom: 20px;
    }
  }

  .row-projects {
    padding-top: 30px;
  }

  .avatar-block {
    position: relative;

    .image-avatar {
      border-radius: 100%;
    }

    .UserAvatar {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .main-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-labels);

    .user-name {
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
    .user-position {
      display: flex;
      flex-direction: column;

      .user-position-name,
      .user-position-place {
        display: flex;
        justify-content: center;
      }

      .user-position-place {
        margin-top: 5px;
        color: var(--color-labels);
      }
    }
  }

  .contact-info {
    padding-top: 20px;
  }

  .info-block {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .block-name {
      color: var(--color-labels);
      margin-bottom: 10px;
    }

    a {
      margin-bottom: 5px;
    }
  }
}

.logo-png {
    align-content: center;
    align-items: center;
    display: flex;
    img {
        width: 130px;
        max-height: 40px;
        height: auto;
    }
}

.with-dropdown-menu {
  display: flex !important;

  .dropdown-with-icon {
    max-width: 48px;
    margin-left: auto;
    margin-right: 15px;
  }

  .add-img-for-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    text-align: center !important;
    align-self: center;
    background-color: #f0f7f7;
    min-height: 140px;

    .logo-container {
      height: 100%;
      width: 100%;
      cursor: pointer;

      &:hover {
        img {
          display: none;
        }
      }
    }

    strong {
      color: var(--color-blue);
    }

    .image-preview {
      width: 100%;
      height: 100%;
    }

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    img {
      cursor: auto;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }

    label {
      transition: 0s !important;
      cursor: pointer;
      flex-direction: column;
      align-self: auto !important;
    }

    &:hover,
    &:focus {
      label {
        color: var(--color-blue) !important;
      }
    }
  }
}

.landing-menu {
  display: flex;
  flex-direction: row;
  margin-top: 4em;

  .landing-menu__card {
    background-color: #FCFFFF;
    border: 1px solid #E9F3F5;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 20%;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:last-of-type {
      opacity: 0;
      cursor: auto;
    }

    &.landing-project-card {
      z-index: 999;
      left: 20%;

      &.open {
        left: 0;
      }
    }
  }

  .disable {
    opacity: 0;
  }

  .landing-menu__card-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: var(--color-labels);
      font-size: 16px;
    }

    p {
      color: var(--color-text);
    }

    a:hover {
      text-decoration: none;
    }

    .landing-card__title-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      [class^="icon-"], [class*=" icon-"] {
        &:not(.icon-add_1) {
          margin-top: 20px;
          font-size: 50px;
        }

        &:before {
          color: var(--color-blue);
        }
      }

      .landing-menu__card-content__icon {
        max-height: 40px;
      }

      .new-project {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-blue);
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 999 !important;
}

.header-options {
  display: flex;
  margin-bottom: 0 !important;

  li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-item, button, a {
    display: flex;
    align-items: center;
    align-content: center;
    
    &.logout {
      color: #B1CDD0;
      line-height: 1;
    }
  }

  &.white {
    .nav-item, button, a {
      color: #fff;

      [class^="icon-"], [class*=" icon-"] {
        color: #fff !important;
      }
    }
  }

  @media only screen and (max-width: 1028px) {
    justify-content: flex-end;

    .nav-item-icon {
      display: none !important;
    }
  }
}

.react-datepicker {
  border: 1px solid #14191A14;

  .react-datepicker__header--custom_container {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .react-datepicker__triangle {
    border-bottom-color: #fff !important;
      border-top-color: #fff !important;

    &:before {
      border-bottom-color: #14191A14 !important;
      border-top-color: #14191A14 !important;
    }
  }
  .react-datepicker__current-month {
    color: var(--color-text);
    font-size: 19px;
    font-weight: 400;
  }
  .react-datepicker__header {
    background-color: #FFFFFF;
    border-bottom: none;

    .react-datepicker__header--custom_btn-prev,
    .react-datepicker__header--custom_btn-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: #F5FAFA;
      border: 2px solid #EDEDED;
      border-radius: 5px;

      span {
        font-size: 17px;
        color: var(--color-blue);
      }
    }

    .react-datepicker__header--custom_btn-prev {
      margin-right: auto;
    }

    .react-datepicker__header--custom_btn-next {
      margin-left: auto;
    }

    .react-datepicker__header--custom_month {
      color: var(--color-text);
      font-size: 16px;
    }

    .react-datepicker__header--custom_year {
      color: var(--color-text);
      font-size: 12px;
    }
  }

  .react-datepicker__day-name {
    color: #708A8C;
  }

  .react-datepicker__month {
    margin-left: 15.344px;
    margin-right: 15.344px;
    margin-bottom: 24px;

    * {
      :not(.react-datepicker__day--keyboard-selected):not(.react-datepicker__day--outside-month):not(.react-datepicker__day--today) {
        color: #8FB0B2;
      }

      .react-datepicker__day--outside-month {
        color: #CFE4E5;
      }

      .react-datepicker__day--today {
        background-color: #E6F9FA;
        color: #293033;
        border-radius: 100%;
        font-weight: 500;
      }

      .react-datepicker__day {
        &:hover {
          background-color: #E6F9FA;
          border-radius: 100%;
        }
      }
    }
  }
}

// Notifications

.notifications_block {
  --right-position: calc(46px + 4.6%);
  --top-position: 105px;

  position: absolute;
  display: block;
  top: var(--top-position);
  right: var(--right-position);
  width: 326px;
  height: auto;
  background: white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 15px #0096FA80;
  transition: all 200ms linear;

  &:after {
    position: absolute;
    width: 0.71428571em;
    height: 0.71428571em;
    background: #FFFFFF;
    -webkit-transform: rotate(45deg);
    transform: rotate(225deg);
    content: '';
    top: 0;
    left: auto;
    bottom: auto;
    left: 88%;
    margin-top: -0.30714286em;
    transition: all 200ms ease-in;  
  }

  &.errors {
    box-shadow: 0 0 15px #FF004280;
  }

  &.fixed {
    position: fixed;

    &:after {
      width: 0;
      height: 0;
      margin: 5px;
    }
  }

  &.notifications_block-enter {
    transform: scale(0);
    top: 0;
    right: -50px;
    opacity: 0;
  }

  &.notifications_block-enter.notifications_block-enter-active {
    transform: scale(1);
    top: var(--top-position);
    right: var(--right-position);
    opacity: 1;
  }

  &.notifications_block-leave {
    transform: scale(1);
    top: var(--top-position);
    right: var(--right-position);
    opacity: 1;
  }

  &.notifications_block-leave.notifications_block-leave-active {
    transform: scale(0);
    top: 0;
    right: -50px;
    opacity: 0;
  }

  .notifications_header {
    color: var(--color-labels);
    display: flex;
    padding-top: 25px;
    padding-bottom: 13px;
    border-bottom: 1px solid #F5F5F5;
    max-height: 300px;
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    opacity: 1;

    &.one-child {
      padding: 0;
      max-height: 0;
      opacity: 0;
    }

    div:last-of-type {
      margin-left: auto;
    }
  }

  .notifications_content {
    max-height: 250px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-right: 10px;
    margin-right: -10px;
  }

  .notifications_content__element {
    display: flex;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 13px;
    overflow: hidden;
    transition: all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

    &:not(:last-of-type) {
      border-bottom: 1px solid #F5F5F5;
    }

    &.notifications_content__element-enter {
      padding-bottom: 0;
      padding-top: 0;
      max-height: 0;
      border-bottom: 1px solid transparent;
    }

    &.notifications_content__element-enter.notifications_content__element-enter-active {
      max-height: 300px;
      padding-top: 13px;
      padding-bottom: 13px;
      transition: all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

      &:not(:last-of-type) {
        border-bottom: 1px solid #F5F5F5;
      }
    }

    &.notifications_content__element-leave {
      max-height: 300px;
      padding-top: 13px;
      padding-bottom: 13px;

      &:not(:last-of-type) {
        border-bottom: 1px solid #F5F5F5;
      }
    }

    &.notifications_content__element-leave.notifications_content__element-leave-active {
      padding-bottom: 0;
      padding-top: 0;
      max-height: 0;
      border-bottom: 1px solid transparent;
      transition: all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }
    
    .notifications_content__element-content {
      width: 90%;
    }

    .notifications_content__element-close-button {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      *:before {
        transition: all 0.15s ease-in-out;
      }
      
      .icon-delete_2 {
        .path1:before {
          color: #FAFAFA;
        }
        .path2:before {
          color: #B2CED1;
        }
      }

      button {
        &:hover {
          .icon-delete_2 {
            .path1:before {
              color: #E9F3F5;
            }
            .path2:before {
              color: #8FB0B3;
            }
          }
        }
      }
    }

    .notifications_content__element-title {
      color: var(--color-text);
    }

    .notifications_content__element-msg {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    
      &.success {
        color: #00B340;
      }
    
      &.error {
        color: #E30941;
      }
    }

    .notifications_content__element-time {
      color: var(--color-labels);
      font-size: 11px;
    }
  }
}
