
i.svg-icon {
  display: inline-block;
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  -webkit-mask-size: cover !important;
  mask-size: cover !important;
  background-color: #0096FA;

  &.black {
    background-color: rgba(0, 0, 0, .87) !important;
  }

  &.white {
    background-color: #fff !important;
  }

  &.gray {
    background-color: gray !important;
  }

  &.pink {
    background-color: rgb(255, 140, 186) !important;
  }

  &.blue {
    background-color: rgb(0, 150, 250) !important;
  }

  &.blue-plus-icon {
    -webkit-mask: url('../images/add_1.svg') no-repeat 50% 50%;
    mask: url('../images/add_1.svg') no-repeat 50% 50%;
  }

  &.copy-icon {
    -webkit-mask: url('../images/common-file-double-1.svg') no-repeat 50% 50%;
    mask: url('../images/common-file-double-1.svg') no-repeat 50% 50%;
    height: 23px;
    min-height: 23px;
    width: 19px;
    min-width: 19px;
  }

  &.folder-icon {
    -webkit-mask: url('../images/folder-empty-black.svg') no-repeat 50% 50%;
    mask: url('../images/folder-empty-black.svg') no-repeat 50% 50%;
    height: 18px;
    min-height: 18px;
    width: 20px;
  }

  &.folder-icon-2 {
    -webkit-mask: url('../images/folder-image.svg') no-repeat 50% 50%;
    mask: url('../images/folder-image.svg') no-repeat 50% 50%;
  }

  &.folder-icon-3 {
    -webkit-mask: url('../images/folder-image-1.svg') no-repeat 50% 50%;
    mask: url('../images/folder-image-1.svg') no-repeat 50% 50%;
    width: 21px;
  }

  &.task-checklist-icon {
    -webkit-mask: url('../images/task-checklist-check.svg') no-repeat 50% 50%;
    mask: url('../images/task-checklist-check.svg') no-repeat 50% 50%;
  }

  &.task-list-settings-icon {
    -webkit-mask: url('../images/task-list-settings.svg') no-repeat 50% 50%;
    mask: url('../images/task-list-settings.svg') no-repeat 50% 50%;
  }

  &.cogs-icon {
    -webkit-mask: url('../images/cog-double.svg') no-repeat 50% 50%;
    mask: url('../images/cog-double.svg') no-repeat 50% 50%;
  }

  &.arrow-left-icon {
    -webkit-mask: url('../images/arrow-button-left.svg') no-repeat 50% 50%;
    mask: url('../images/arrow-button-left.svg') no-repeat 50% 50%;
  }

  &.arrow-left-icon-2 {
    background: url('../images/Arrow_2_left.svg') no-repeat 50% 50%;
  }

  &.arrow-right-icon {
    -webkit-mask: url('../images/arrow-button-right.svg') no-repeat 50% 50%;
    mask: url('../images/arrow-button-right.svg') no-repeat 50% 50%;
  }

  &.task-list-edit-icon {
    -webkit-mask: url('../images/task-list-edit.svg') no-repeat 50% 50%;
    mask: url('../images/task-list-edit.svg') no-repeat 50% 50%;
  }

  &.common-file-icon {
    -webkit-mask: url('../images/common-file-text.svg') no-repeat 50% 50%;
    mask: url('../images/common-file-text.svg') no-repeat 50% 50%;
    width: 19.5px;
    min-width: 19.5px;
    min-height: 21px;
    height: 21px;

    &.big {
      width: 39px;
      height: 41px;
    }
  }
  
  &.common-file-color-icon {
    background: url('../images/common-file-text-1.svg') no-repeat 50% 50%;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  &.file-pdf-icon {
    background: url('../images/office-file-pdf.svg') no-repeat 50% 50%;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  &.file-xml-icon {
    background: url('../images/xml-1.svg') no-repeat 50% 50%;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  &.file-xls-icon {
    background: url('../images/office-file-xls.svg') no-repeat 50% 50%;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  &.file-csv-icon {
    background: url('../images/csv-1.svg') no-repeat 50% 50%;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  &.email-action-icon-2 {
    -webkit-mask: url('../images/email-action-send-2.svg') no-repeat 50% 50%;
    mask: url('../images/email-action-send-2.svg') no-repeat 50% 50%;
  }

  &.pencil-icon {
    -webkit-mask: url('../images/pencil-write.svg') no-repeat 50% 50%;
    mask: url('../images/pencil-write.svg') no-repeat 50% 50%;
  }

  &.trash-icon {
    -webkit-mask: url('../images/trash_bucket.svg') no-repeat 50% 50%;
    mask: url('../images/trash_bucket.svg') no-repeat 50% 50%;
  }

  &.green-check-icon {
    -webkit-mask: url('../images/check_3.svg') no-repeat 50% 50%;
    mask: url('../images/check_3.svg') no-repeat 50% 50%;
    background-color: rgb(0, 179, 64) !important;
  }
  
  &.rounded-blue-check-icon {
    background: url('../images/blue_check.svg') no-repeat 50% 50%;
    background-size: 100%;
    height: 15px;
    min-height: 15px;
    width: 15px;
    min-width: 15px;
  }

  &.rounded-blue-check-icon-2 {
    background: url('../images/choose_2.svg') no-repeat 50% 50%;
    background-size: 100%;
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
  }

  &.common-file-lock {
    -webkit-mask: url('../images/common-file-lock.svg') no-repeat 50% 50%;
    mask: url('../images/common-file-lock.svg') no-repeat 50% 50%;
  }

  &.calendar-icon-3 {
    -webkit-mask: url('../images/calendar-3.svg') no-repeat 50% 50%;
    mask: url('../images/calendar-3.svg') no-repeat 50% 50%;
  }

  &.revision-icon {
    -webkit-mask: url('../images/Revise_2.svg') no-repeat 50% 50%;
    mask: url('../images/Revise_2.svg') no-repeat 50% 50%;min-width: 25px;
    min-width: 22px;
    width: 22px;
    min-height: 14px;
    height: 14px;
  }

  &.file-edit-icon {
    -webkit-mask: url('../images/common-file-edit.svg') no-repeat 50% 50%;
    mask: url('../images/common-file-edit.svg') no-repeat 50% 50%;
  }

  &.download-icon {
    -webkit-mask: url('../images/download-button.svg') no-repeat 50% 50%;
    mask: url('../images/download-button.svg') no-repeat 50% 50%;
    min-width: 17px;
    width: 17px;
    min-height: 21px;
    height: 21px;
  }

  &.review-icon {
    -webkit-mask: url('../images/single-neutral-actions-text.svg') no-repeat 50% 50%;
    mask: url('../images/single-neutral-actions-text.svg') no-repeat 50% 50%;
  }

  &.section-below-icon {
    -webkit-mask: url('../images/upload-menu1.svg') no-repeat 50% 50%;
    mask: url('../images/upload-menu1.svg') no-repeat 50% 50%;
  }

  &.section-above-icon {
    -webkit-mask: url('../images/upload-menu2.svg') no-repeat 50% 50%;
    mask: url('../images/upload-menu2.svg') no-repeat 50% 50%;
  }

  &.lock-icon {
    -webkit-mask: url('../images/Locked.svg') no-repeat 50% 50%;
    mask: url('../images/Locked.svg') no-repeat 50% 50%;
    height: 14px;
    min-height: 14px;
    width: 11px;
    min-width: 11px;
  }

  &.star-icon {
    background: url('../images/gold_star.svg') no-repeat 50% 50%;
  }

  &.search-icon {
    -webkit-mask: url('../images/search-alternate.svg') no-repeat 50% 50%;
    mask: url('../images/search-alternate.svg') no-repeat 50% 50%;
  }

  &.burger-menu-icon {
    -webkit-mask: url('../images/Burgermenu_1.svg') no-repeat 50% 50%;
    mask: url('../images/Burgermenu_1.svg') no-repeat 50% 50%;
    height: 13px;
    min-height: 13px;
    width: 36px;
    min-width: 36px;
    background-color: #fff;
  }

  &.burger-menu-icon-2 {
    -webkit-mask: url('../images/Burgermenu_2.svg') no-repeat 50% 50%;
    mask: url('../images/Burgermenu_2.svg') no-repeat 50% 50%;
    height: 13px;
    min-height: 13px;
    width: 20px;
    min-width: 20px;
  }

  &.email-unread-icon {
    -webkit-mask: url('../images/email-action-unread.svg') no-repeat 50% 50%;
    mask: url('../images/email-action-unread.svg') no-repeat 50% 50%;
    height: 14.5px;
    min-height: 14.5px;
    width: 20px;
    min-width: 20px;
  }

  &.business-team-icon {
    -webkit-mask: url('../images/business-team-goal.svg') no-repeat 50% 50%;
    mask: url('../images/business-team-goal.svg') no-repeat 50% 50%;
  }

  &.share-file-icon {
    -webkit-mask: url('../images/common-file-share.svg') no-repeat 50% 50%;
    mask: url('../images/common-file-share.svg') no-repeat 50% 50%;
  }

  &.alarm-bell-icon {
    -webkit-mask: url('../images/alarm-bell.svg') no-repeat 50% 50%;
    mask: url('../images/alarm-bell.svg') no-repeat 50% 50%;
    height: 20px;
    min-height: 20px;
    width: 16px;
    min-width: 16px;
  }

  &.logo-colored {
    background: url('../images/i-Qoom_Brand_Logo_Gradient') no-repeat 50% 50%;
    background-size: 100%;
    height: 30px;
    min-height: 30px;
    width: 170px;
    min-width: 170px;

    @media only screen and (max-width: 1028px) {
      height: 23px;
      min-height: 23px;
      width: 130px;
      min-width: 130px;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }

    &.sidebar {
      height: 25px;
      min-height: 25px;
      width: 120px;
      min-width: 120px;
    }
  }

  &.logo-header {
    -webkit-mask: url('../images/Logo_header.svg') no-repeat 50% 50%;
    mask: url('../images/Logo_header.svg') no-repeat 50% 50%;
    height: 30px;
    min-height: 30px;
    width: 170px;
    min-width: 170px;
    background-color: #fff;

    @media only screen and (max-width: 1028px) {
      height: 23px;
      min-height: 23px;
      width: 130px;
      min-width: 130px;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }

    &.sidebar {
      height: 23px;
      min-height: 23px;
      width: 120px;
      min-width: 120px;
    }
  }

  &.dots-icon {
    -webkit-mask: url('../images/dots-horizontal.svg') no-repeat 50% 50%;
    mask: url('../images/dots-horizontal.svg') no-repeat 50% 50%;
    height: 5px;
    min-height: 5px;
    width: 22px;
    min-width: 22px;
  }

  &.streamline-stopwatch-icon {
    -webkit-mask: url('../images/streamline-icon-stopwatch.svg') no-repeat 50% 50%;
    mask: url('../images/streamline-icon-stopwatch.svg') no-repeat 50% 50%;
    height: 46px;
    min-height: 46px;
    width: 38px;
    min-width: 38px;
  }

  &.streamline-task-list-icon {
    -webkit-mask: url('../images/streamline-icon-task-list-edit.svg') no-repeat 50% 50%;
    mask: url('../images/streamline-icon-task-list-edit.svg') no-repeat 50% 50%;
    height: 46px;
    min-height: 46px;
    width: 46px;
    min-width: 46px;
  }

  &.streamline-module-hand-icon {
    -webkit-mask: url('../images/streamline-icon-module-hand-puzzle.svg') no-repeat 50% 50%;
    mask: url('../images/streamline-icon-module-hand-puzzle.svg') no-repeat 50% 50%;
    height: 46px;
    min-height: 46px;
    width: 46px;
    min-width: 46px;
  }

  &.streamline-calendar-icon {
    -webkit-mask: url('../images/streamline-icon-calendar-1.svg') no-repeat 50% 50%;
    mask: url('../images/streamline-icon-calendar-1.svg') no-repeat 50% 50%;
    height: 46px;
    min-height: 46px;
    width: 46px;
    min-width: 46px;
  }

  &.streamline-folder-icon {
    -webkit-mask: url('../images/streamline-icon-folder-file.svg') no-repeat 50% 50%;
    mask: url('../images/streamline-icon-folder-file.svg') no-repeat 50% 50%;
    height: 52px;
    min-height: 52px;
    width: 46px;
    min-width: 46px;
  }

  &.dark-arrow-icon {
    -webkit-mask: url('../images/arrow-button-down.svg') no-repeat 50% 50%;
    mask: url('../images/arrow-button-down.svg') no-repeat 50% 50%;
    height: 7px;
    min-height: 7px;
    width: 11px;
    min-width: 11px;
  }
}
