
i.svg-icon {
  display: inline-block;
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  -webkit-mask-size: cover !important;
  mask-size: cover !important;
  background-color: #0096FA;

  mask-mode: match-source;
  mask-repeat: no-repeat;
  mask-clip: border-box;
  mask-origin: border-box;
  mask-composite: add;
  mask-position-x: 50%;
  mask-position-y: 50%;
  mask-size: auto;

  background-position-x: 50% !important;
  background-position-y: 50% !important;
  -webkit-background-repeat-x: no-repeat !important;
  background-repeat-x: no-repeat !important;
  -webkit-background-repeat-y: no-repeat !important;
  background-repeat-y: no-repeat !important;

  &.blue-plus-icon {
    background: url('../images/add_1.svg');
    height: 19px;
    min-height: 19px;
    width: 19px;
    min-width: 19px;
  }
  
  &.logo-header {
    background: url('../images/Logo_header.svg') no-repeat;
    height: 30px;
    min-height: 30px;
    width: 170px;
    min-width: 170px;

    @media only screen and (max-width: 1028px) {
      height: 23px;
      min-height: 23px;
      width: 130px;
      min-width: 130px;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }

    &.sidebar {
      height: 26px;
      min-height: 26px;
      width: 115px;
      min-width: 115px;
    }
  }
}
