.sidebar {
  width: 300px;
  // min-width: 250px;
  // max-width: 17vw;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #221f6d;
  flex-shrink: 0;
  justify-content: space-between;
  margin-right: 40px;
  margin-right: 2.2%;

  &.is-visible {
    display: flex;
  }

  .navbar-brand {
    flex-shrink: 0;
  }

  .active-project {
    display: flex;
    align-items: center;
    padding: 0 50px 20px 20px;
    color: #fff;
    border-radius: 0 80px 0 0;
    height: 105px;
    background: rgba(24, 82, 181, 1);
    background: -moz-linear-gradient(top, rgba(24, 82, 181, 1) 0%, rgba(24, 82, 181, 1) 40%, rgba(30, 53, 140, 1) 74%, rgba(34, 31, 109, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24, 82, 181, 1)), color-stop(40%, rgba(24, 82, 181, 1)), color-stop(74%, rgba(30, 53, 140, 1)), color-stop(100%, rgba(34, 31, 109, 1)));
    background: -webkit-linear-gradient(top, rgba(24, 82, 181, 1) 0%, rgba(24, 82, 181, 1) 40%, rgba(30, 53, 140, 1) 74%, rgba(34, 31, 109, 1) 100%);
    background: -o-linear-gradient(top, rgba(24, 82, 181, 1) 0%, rgba(24, 82, 181, 1) 40%, rgba(30, 53, 140, 1) 74%, rgba(34, 31, 109, 1) 100%);
    background: -ms-linear-gradient(top, rgba(24, 82, 181, 1) 0%, rgba(24, 82, 181, 1) 40%, rgba(30, 53, 140, 1) 74%, rgba(34, 31, 109, 1) 100%);
    background: linear-gradient(to bottom, rgba(24, 82, 181, 1) 0%, rgba(24, 82, 181, 1) 40%, rgba(30, 53, 140, 1) 74%, rgba(34, 31, 109, 1) 100%);
    
    .project-description {
      display: flex;
      align-items: center;
      flex-direction: column;

      .active-project-text {
        color: #9A98D9;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 11px;
      }

      .active-project-title {
        color: #fff;
        font-size: 15px;
      }
    }

    .icon-cog-double-2 {
      margin-bottom: 15px;
      margin-left: auto;
    }
  }

  .sidebar-sticky {
    display: block;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .nav-items {
      margin-top: 55px;

      .nav-item {
        padding-left: 45px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;

        &:not(:last-of-type) {
          margin-bottom: 7px;
        }

        .nav-link {
          line-height: 1 !important;
          text-transform: initial;
          font-size: 20px;
          font-weight: 400;
          color: #9A98D9;
        }

        &.active {
          border-left: 2px solid #fff;
          padding-left: 43px;
          border-radius: 2px;

          .nav-link {
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }

  .side-bar-logo {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-top: 48px;
    padding-top: 4.4vh;

    .side-bar-logo__container {
      display: flex;
      padding-left: 45px;
      align-content: center;
      align-items: center;
    }
    
    button {
      display: flex;
      margin-left: auto;
      padding-right: 20px;
    }

    .icon-Burgermenu_1 {
      font-size: 15px;
    }
  }
}
