.dms-container {
  height: 100%;

  &.new-document {
    .col-10 {
      border-radius: 5px;
      border: 1px solid lightgrey;
    }
  }

  .head-buttons {

    a {
      span {
        color: #0096FA !important;
      }
    }

    span {
      font-size: 16px;
      height: auto;
      min-width: 110px;
    }

    .edit-doc-icon {
      path {
        fill: #0096FA;
      }

      circle {
        fill: #0096FA;
      }
    }

    path {
      stroke: #0096FA;
    }

    circle {
      stroke: #0096FA;
    }

    button.disable {
      span {
        color: lightgray;
      }

      path {
        stroke: lightgray;
      }

      circle {
        stroke: lightgray;
      }
    }

  }

  .dms-sidebar-menu {
    h4 {
      color: lightgrey;
      font-size: 16px;
      padding: 10px;
    }

    div.selected-doc-title {
      display: block;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 0.5rem;
      line-height: 1.2;

      span {
        color: #0096FA
      }
    }

    .dms-sidebar-menu__list {
      .dms-sidebar-menu__item {
        width: 100%;

        button, a {
          display: flex;
          padding: 10px;
          width: 100%;
          align-items: center;

          &:hover, &:active, &.active {
            background-color: #f0f7f7;
          }
        }

        path {
          fill: black;
        }
      }
    }

    .dms-sidebar-menu__dropdown {
      width: 100%;
      padding: 10px;

      button {
        width: 100%;
        padding: 7px;
      }
    }

    .dms-sidebar-menu__reviews-list {
      padding-left: 10px;
      
      .dms-sidebar-menu__item {
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;

        .dms-sidebar-menu__item_count {
          width: 20px;
          height: 20px;
          margin-left: auto;
          display: flex;
          margin-left: auto;
          justify-content: center;
          align-items: center;
          color: gray;
        }
      }
    }

    .dms-sidebar-menu__reviews-button {
      align-items: center;
      justify-content: flex-start;
      display: flex;

      i {
        border-color: #0096FA !important;
      }

      .btn {
        color: #0096FA !important;
      }
    }

    .dms-sidebar-menu__reviews-list {
      ul {
        height: 100%;
        overflow-y: hidden;

        &.hidden {
          height: 0;
        }
      }
    }
  }

  .red-rounded-info {
    background-color: #f5696d;
    min-width: 20px !important;
    min-height: 20px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}


.status-name {
  display: inline-block;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.dms-topbar-menu__dropdown {
  border-width: 1px !important;
  border-radius: 20px !important;
  border-color: black !important;
  background-color: #fff !important;

  span {
    margin-right: 10px;
  }
}

.dms-topbar-menu__li-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px; 
  padding: 5px;

  &.checked {
    background-color: #f5fcfc;
  }

  span {
    margin-left: 10px;
  }

  &:hover {
    background-color: #f5fcfc;
    cursor: pointer;
  }
}

.dms-container__table-header {
  display: flex;
  align-items: center;

  h5 {
    margin-right: 15px;
  }

  .btn-group {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.new-project__project-phases {

  span {
    color: gray;
  }

  ul {
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 2px solid lightgrey;
    display: flex;

    li {
      margin-bottom: -2px;
      padding-left: 0; 
      padding-right: 0;

      &.active {
        color: #009aa8 !important;
        border-bottom: 2px solid #009aa8;

        button {
          color: #009aa8 !important;
        }
      }

      button {
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: lightgrey;
        display: flex;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 2px solid transparent;
        width: 100%;
      }
    }
  }
}
