:not(.landing-page) {

  textarea {
    min-height: calc(7em + 0.75rem + 2px);
  }

  label {
    color: gray;
  }

  .ck {
    &.ck-editor {
      display: flex;
      flex-direction: column;
    }

    &.ck-content {
      background: #fff !important;
      border: none !important;
      min-height: 200px;

      &.ck-focused {
        box-shadow: none;
      }
    }

    &.ck-toolbar {
      display: flex;
      width: max-content;
      background-color: #fff !important;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid lightgray;
      border-radius: 5px !important;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      z-index: 4 !important;
    }

    .ck-sticky-panel__content {
      background-color: #fff !important;
      border-top: 1px solid lightgray !important;
      border-right: none;
      border-left: none;
      justify-content: center;
      justify-items: center;
      align-items: center;
      display: flex;
    }
  }
}

.dms-container {
  height: 100%;

  > .col-10 {
    overflow: auto;
  }
  
  @media only screen and (max-width: 1400px) {
    button, a {
      font-size: 0.8em;
    }
  }

  .bordered {
    border-radius: 5px;
    border: 1px solid lightgrey;
  }

  .dms-content, .show-document {
    margin-bottom: 5em;

    .col-10 {
      height: 100%;
    }

    .revision-title-block {
      display: flex;
      margin-bottom: 30px;
    }

    .form-body {
      padding-top: 45px;
      padding-top: 2.3vw;
      padding-left: 45px;
      padding-left: 2.3vw;
      padding-right: 45px;
      padding-right: 2.3vw;
    }

    .dms-content__header {
      padding-top: 45px;
      padding-top: 2.3vw;
      padding-left: 45px;
      padding-left: 2.3vw;
      padding-right: 45px;
      padding-right: 2.3vw;
      
      h4 {
        font-weight: 500;
        font-size: 1.5em;
      }

      &.folder_edit {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-gap: 1em;
      }

      .folder-info {
        color: gray;
      }
    }
  }

  .head-buttons {
    display: flex;

    button {
      align-items: center;
    }
    
    a {
      span {
        color: #0096FA !important;
      }
    }

    span {
      font-size: 16px;
      height: auto;
      min-width: 110px;
    }

    .svg-icon {
      background-color: #0096FA;
    }

    button.disable {
      span {
        color: lightgray;
      }

      .svg-icon {
        background-color: lightgray;
      }
    }
  }

  .dms-sidebar-menu {
    h4 {
      color: lightgrey;
      font-size: 14px;
      padding: 10px;
      margin-bottom: 0;
    }

    .dms-sidebar-menu__list {
      .dms-sidebar-menu__item {
        width: 100%;

        button, a.btn {
          display: flex;
          padding: 10px;
          width: 100%;
          align-items: center;
          max-height: 100%;
          height: 100%;

          &:hover, &:active, &.active {
            background-color: #f0f7f7;
          }
        }

        .head-button__gray-text {
          font-size: 15px;
        }

        .dms-sidebar-menu__sublitem {
          padding: 10px;
          margin-left: 30px;

          .dms-sidebar-menu__sublink {
            padding-top: 10px;
            padding-bottom: 10px;
            
            a {
              font-size: 15px;
              color: #0096FA;
              font-weight: normal;

              &.active {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .dms-sidebar-menu__dropdown {
      width: 100%;
      padding: 10px;

      button {
        width: 100%;
        padding: 7px;
      }
    }

    .dms-sidebar-menu__reviews-list {
      padding-left: 10px;
      
      .dms-sidebar-menu__item {
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;

        .dms-sidebar-menu__item_count {
          width: 20px;
          height: 20px;
          margin-left: auto;
          display: flex;
          margin-left: auto;
          justify-content: center;
          align-items: center;
          color: gray;
        }
      }
    }

    .dms-sidebar-menu__reviews-button {
      align-items: center;
      justify-content: flex-start;
      display: flex;

      i {
        border-color: #0096FA !important;
      }

      .btn {
        color: #0096FA !important;
      }
    }

    .dms-sidebar-menu__reviews-list {
      ul {
        height: 100%;
        overflow-y: hidden;

        &.hidden {
          height: 0;
        }
      }
    }

    .dms-sidebar-menu__document-title {

      button {
        color:#0096FA;
        font-size: 12px;
      }

      .editable-title {
        padding-left: 10.5px; 
        padding-right: 10.5px; 
        display: flex;
        align-items: center;

        h5 {
          margin: 0;
        }
      }

      .copied-to-folder {
        display: flex;
        align-items: center;

        span {
          font-size: 14px;
          margin-left: 10px;
        }

        button {
          padding: 0;
          margin-left: 10px;
        }

        path {
          fill: black;
        }
      }

      .not-relevant-for-me {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 10.5px;
        padding-right: 10.5px;
        margin-top: 5px; 

        span {
          font-size: 12px;
          color: lightgray;
        }

        button {
          width: max-content;
          padding: 0;
        }
      }

      .copy-to-folder-block {
        position: relative;
  
        .btn-copy-to-folder {
          text-align: left;
          padding-left: 10px;
          padding-top: 5px;
        }

        ul.copy-to-folder-block__popup {
          min-width: 250px;
          top: 5px;
          left: 65%;
          z-index: 999;

          label.copy-to-folder-block__popup_title {
            border-bottom: 1px solid lightgray;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }

          li {
            display: flex;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
            align-items: center;

            button {
              display: flex;
              align-items: center;
              padding: 0;
              color: rgba(0, 0, 0, .87);

              i {
                margin-right: 10px;

                &.folder-icon,
                &.folder-icon-2,
                &.folder-icon-3 {
                  margin-left: 10px;
                }
              }
            }

            &.new-folder {
              span {
                color:#0096FA;
              }
            }

            &.checked {
              background: #f5f9fa;
            }

            &.disabled {

              button {
                display: flex;
                align-items: center;
                padding: 0;
                color: lightgray;

                i {
                  margin-right: 10px;

                  &.folder-black-icon {
                    margin-left: 10px;
                  }
                }
              }

              path {
                fill: lightgray;
              }
            }
          }
        }
      }
    }

    .scroll-block {
      .revision-list {
        max-height: 250px;
        overflow: auto;
        -webkit-overflow-scrolling:touch;

        li {
          width: max-content;
          padding-left: 10px !important;
          padding-right: 10px !important;
          border-radius: 5px;
          color: #0096FA;
          padding: 5px;
          margin-left: 15px;

          &.active {
            background: #f0f7f7;
            font-weight: 600;
          }
        }
      }

      .scroll-block-title {
        display: flex;
        align-items: center;
        background-color: #f0f7f7;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    }
  }

  .red-rounded-info {
    background-color: #f5696d;
    min-width: 20px !important;
    min-height: 20px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

.status-name {
  display: inline-block;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.dms-topbar-menu__dropdown {
  border-width: 1px !important;
  border-radius: 20px !important;
  border-color: black !important;
  background-color: #fff !important;

  span {
    margin-right: 10px;
  }
}

.dms-topbar-menu__li-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 35px; 
  padding: 5px;

  &.checked {
    background-color: #f5fcfc;
  }

  span {
    margin-left: 10px;
  }

  &:hover {
    background-color: #f5fcfc;
    cursor: pointer;
  }
}

.dms-container__table-header {
  display: flex;
  align-items: center;

  h5 {
    margin-right: 15px;
  }

  .btn-group {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.dms-content__project-phases {

  span {
    color: gray;
  }

  ul {
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 2px solid lightgrey;
    display: flex;

    li {
      margin-bottom: -2px;
      padding-left: 0; 
      padding-right: 0;

      &.active {
        color: #009aa8 !important;
        border-bottom: 2px solid #009aa8;

        button {
          color: #009aa8 !important;
        }
      }

      button {
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: lightgrey;
        display: flex;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 2px solid transparent;
        width: 100%;
      }
    }
  }
}

div.selected-info-block {
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 0.5rem;
  line-height: 1.28571429em;
  margin-bottom: 0;

  span {
    color: #0096FA
  }
}

.subject-like-document {
  align-items: center;
  display: flex;
  padding-top: 14px;

  .form-group {
    display: flex;
    align-items: center;
  }
}

.dms-footer {
  background: #f5f9fa;
  padding: 20px;
  display: flex;
  justify-content: center;

  button {
    width: 150px;
    margin: 10px;
  }
}

.doc-id-via-uploaded-file-code {
  padding: 30px;

  h4 {
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .file-name-row {
    display: flex;
    align-items: center;

    span {
      font-size: 16px;
    }
  }

  .input-container {
    display: flex;

    .document-id-code {
      max-width: 20%;

      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }
  }

  .doc-via-file-code__edit-document-btn {
    color: #0096FA;
    padding-left: 0;
  }
}

.add-comment-modal {
  padding: 30px;

  .tags-row {
    display: flex;
    flex-wrap: wrap;
  }
}

label.rounded-label {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 20px;
  height: 25px;
  min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.red {
    color: #ff448e !important;
    background: #ffd9df;
  }

  &.yellow {
    color: yellow !important;
    background: lightyellow;
  }
  
  &.coral {
    color: coral !important;
    background: lightcoral;
  }

  &.green {
    color: green !important;
    background: lightgreen;
  }

  &.gray {
    color: gray !important;
    background: lightgray;
  }
}

.document-show {
  .main-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }

  .info-block {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 3em;
    grid-template-rows: 3em;
  }
  
  .document-show__info-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3em;
    grid-gap: 2em;
    align-items: center;
    
    label, span {
      align-items: center;
      display: flex;
      margin-bottom: 0
    }
  }

  .document-show__text-row {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
}

.border-divider {
  border-bottom: 1px solid lightgrey;
}

input.search-input {
  background: url('../../../images/search-alternate-gray.svg');
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 150px;
  background-position: 7px 4px;
  border: 1px solid #ced4da;
  height: 25px;
}

.tags-review-label-block {
  display: flex;
  margin-bottom: 10px;

  input {
    margin-left: auto; 
  }
}

.document-popup {
  position: absolute;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-width: 800px;
  height: 400px;
  padding-top: 15px;
  z-index: 9999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .document-popup__close {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }

  textarea:focus, input:focus{
    outline: none;
  }

  .row {
    height: 100%;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .add-subject {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    cursor: pointer;

    div {
      display: flex;
      align-items: center;
      align-content: center;
    }

    span {
      color: #0096FA;
      white-space: nowrap;
    }
  }

  .documents-in-review-block__title,
  .review-subject__title,
  .conversations-block__title {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    position: relative;

    svg {
      cursor: pointer;
    }

    label {
      width: 100%;
      margin: 0;

      &.gray {
        color: gray;
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  .documents-in-review-block,
  .review-subject-block,
  .conversations-block {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f1f1f1;
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    height: 100%;

    .documents-in-review__doc-list {

      .documents-in-review__block {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #f9f9f9;

        &.active {
          cursor: pointer;
          background: #f9f9f9;
          border-radius: 5px;

          i.arrow {
            color: #0096FA;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      .documents-in-review__element {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        min-width: 90%;

        span {
          white-space: nowrap;
          overflow: hidden;
        }

        .codification {
          color: gray;
        }
      }
    }
  }

  .unread-messages {
    display: flex;
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
    font-size: 12px;
    justify-content: center;
    align-content: center;
    position: absolute;
    border: 1px solid white;
    border-radius: 100%;
    background-color: #f5696d;
    color: white;
    right: 25px;
  }

  .review-subject-block {
    .review-subject {
      position: relative;
      display: flex;
      align-items: center;
      width: 240px;
      padding: 10px;
      border-bottom: 1px solid #f9f9f9;
      width: 100%;

      &:hover {
        cursor: pointer;
        background: #f9f9f9;
        border-radius: 5px;

        i.arrow {
          color: #0096FA;
        }
      }
      
      .review-subject__rows {
        width: 100%;

        .review-subject__first-row {
          display: flex;
          width: 100%;
          margin-bottom: 10px;

          span.date {
            margin-left: auto;
            color: gray;
          }
        }
        .review-subject__second-row {
          display: flex;
          min-height: 40px;
          
          span.status, span.row-info {
            -webkit-box-flex: 0;
            flex: 0 0 30%;
            max-width: 30%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            
            &.row-info {
              color: gray;
            }

            &.status {
              text-transform: uppercase;
              font-size: 12px;

              &.accepted {
                color: #26bd5d;
              }

              &.in-progress {
                color: #ff9b01;
              }

              &.rejected {
                color: #ff2826;
              }

              &.ifr {
                color: #b2ced1;
              }
            }
          }

        }
      }
    }

    .review-subject__user-avatar-block {
      position: relative;

      .star-icon {
        position: absolute;
        background: url('../../../images/leader.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        min-width: 20px;
        height: 20px;
        top: 25px;
        left: 8px;
      }
      
      .member-count {
        display: flex;
        width: 21px;
        min-width: 21px;
        height: 21px;
        min-height: 21px;
        font-size: 12px;
        justify-content: center;
        align-content: center;
        position: absolute;
        border: 1px solid white;
        border-radius: 100%;

        &.member-count {
          background-color: #4b5b5d;
          color: white;
          left: 28px;
          top: 10px;
        }
      }

      .UserAvatar--inner {
        max-height: 34px !important;
        height: 34px !important;
        width: 34px !important;
        max-width: 34px !important;
        line-height: 28px !important;
        font-size: 12px;
        color: #fff;
        background: rgba(244, 167, 0, 1);
        background: -moz-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244, 167, 0, 1)), color-stop(100%, rgba(209, 216, 13, 1)));
        background: -webkit-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
        background: -o-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
        background: linear-gradient(135deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        font-weight: 600;
        border: 2px solid #fff;
      }
    }
  }
}

.conversations__messages-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.conversations__messages-list {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  height: 100%;
  overflow-y: auto;
	-webkit-overflow-scrolling:touch;

  .date-block {
    align-self: center;
    font-size: 0.8em;
    color: gray;
    padding-top: 5px; 
    padding-bottom: 5px; 
  }

  .my-message {
    p {
      background-color:#4bb8fb;
      color: #fff;
      border-radius: 20px;
      padding: 1em;
      max-width: 80%;
      float: right;
    }
  }
  
  .incoming-message {
    height: 100%;
    display: flex;
    flex-direction: column;

    div.author-info {
      background-color: #f9f9f9;
      border-radius: 20px 20px 0 0;
      max-width: 80%;
      padding: 1em;
      width: fit-content;
      margin-top: -15px;
      bottom: -15px;
      position: relative;

      span {
        font-weight: 600;
      }
    }

    p {
      background-color: #f9f9f9;
      border-radius: 20px;
      padding: 1em;
      max-width: 80%;
      float: left;
    }
  }

}

.type-message-block {
  width: 100%;
  background-color: #f5f9fa;
  padding: 10px;
  display: flex;

  .type-message-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid #ced4da;
    min-height: 25px;
    width: 100%;
    resize: none;
  }

  .check-icon {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
  }
}

.tooltip-info-block {
  position: absolute;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid lightgray;
  background-color: #fff;
  bottom: 35px;
  right: calc(50% - 30px);
  left: auto;
  z-index: 999;
  max-width: 350px;

  &::after {
    bottom: -0.25em;
    right: 50%;
    margin: 0em;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    pointer-events: none;
    content: '';
    visibility: visible;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    width: 0.5em;
    height: 0.5em;
    -webkit-box-shadow: -1px -1px 0px 0px rgba(34, 36, 38, .15);
    box-shadow: -1px -1px 0px 0px rgba(34, 36, 38, .15);
    background: #FFFFFF;
    z-index: 2;
  }

  label {
    color: gray;
  }

  .tooltip-info-block__title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .review-owner, .review-lead, .reviewers {
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    .reviwer {
      display: flex;
      margin-top: 5px;

      path {
        fill: black;
      }
    }
  }
}

.edit-button {
  float: right;
  margin-right: 30px;
  margin-left: auto;
  height: 2em;
  background: #0096FA;
  padding: 5px;
  color: #fff;
  width: 7em;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 10px 10px;

  &:hover {
    color: #fff;
  }
}

.phases-row {
  position: relative;
  margin-top: 0 !important;

  .edit-button {
    bottom: -2em;
    position: absolute;
    right: 30px;
  }

  button {
    padding-left: 0 !important;
  }
}

.draggable-container {
  transition: 0s;
  border-radius: 10px;
  border-width: 1px;
  border-style: dashed;
  border-color: #fff;

  &:not(:hover) * {
    transition: 0s !important;
  }

  .btn.btn-white-blue {
    height: fit-content;
  }

  &.dragging {
    border-color: lightblue;

    .form-group, .d-flex {
      background-color: lightblue;

      .btn.btn-white-blue {
        background-color: lightblue !important;
      }
    }
  }

  .form-group {
    min-height: 102px;
    position: relative;
    padding: 10px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    margin: 5px;

    .form-group_drop-down, .d-flex {
      background-color: transparent;
      height: fit-content;

      div, svg {
        background-color: transparent;
      }
    }

    label:not(.form-check-label) {
      width: fit-content;
    }

    .access-limited {
      color: #ff2826;
      margin-left: auto;
    }

    input, textarea {
      cursor: pointer;
    }

    &:hover {
      background-color:#f9f9f9;
      cursor: pointer;

      .form-group, .d-flex {
        .btn.btn-white-blue {
          background-color:#f9f9f9;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
    }

    .dots-container {
      .svg-icon.dots-icon {
        margin-bottom: 0.5em;
      }
    }
  }

  &.undraggable .form-group {
    background-color: #fff !important;
    cursor: auto !important;

    .btn.btn-white-blue {
      background-color:#fff !important;
    }
  }
}

.form-group_drop-down {
  margin-right: 10px;
}

.tabs.big-tabs {
  .nav-bar {
    margin-top: 0;
  }

  .nav-bar-element {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

.dark-tooltip-container {
  background-color: #475759 !important;
  border-color: #475759 !important;
  box-shadow: 1px 1px 0px 0px #475759 !important;
  
  .tooltip-text-block {
    color: #fff;
  }
  
  &:before {
    background-color: #475759 !important;
    border-color: #475759 !important;
    box-shadow: 1px 1px 0px 0px #475759 !important;
  }

  &.small-font {
    padding: 5px !important;

    .tooltip-block {
      font-size: 10px;
      color: #fff;
    }
  }
}

.tooltip-block {
  min-width: 180px;

  .tooltip-block-title {
    padding-bottom: 0;
    display: flex;
    align-items: baseline;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;

    label, .btn {
      font-size: 14px;
    }

    .btn {
      margin-left: auto;
      color: #0096FA;
    }
  }

  .buttons-row {
    display: flex;
    margin-top: 10px;

    a, button {
      width: 40%;
    }

    a {
      margin-left: auto;
    }
  }
}

.btn-create-new-field {
  width: 100%;
  background: #0096FA;
  height: 40px;
  color: #fff;
  font-size: 14px !important;
}

.edit-convetion-footer {
  flex-direction: column;
  align-items: center;
  text-align: center;

  .changes-description {
    width: 70%;
    margin-bottom: 10px;
  }
}

.modal-container {
  padding: 30px;

  .modal-container__title-block {
    display: flex;
    align-items: flex-start;

    h4 {
      margin-bottom: 10px;
    }

    span.info {
      margin-left: auto;
      color: #0096FA;
    }
  }

  .input-container {
    max-width: 500px;
  }
}

.dropdown-section {
  display: flex;
  padding: 10px;
  transition: 0s ease-in-out;
  border-radius: 5px;

  .svg-container, .dropdown-with-icon, .btn-white-blue {
    transition: 0s ease-in-out;
  }

  .dropdown-section__input-block {
    display: block;
    width: 100%;
  }

  &:hover {
    background-color:#f9f9f9;
    cursor: pointer;

    .svg-container, .dropdown-with-icon, .btn-white-blue {
      background-color:#f9f9f9 !important;
    }
  }
}

.new-dropdown-section {
  padding: 10px;
  border-top: 1px solid lightgray;
}

.modal-limit-access-form {
  width: 55em;

  .info-block {
    margin-left: auto;
  }

  .UserAvatar--inner {
    max-height: 28px !important;
    height: 28px !important;
    width: 28px !important;
    max-width: 28px !important;
    line-height: 24px !important;
    font-size: 9px;
    color: #fff;
    background: rgba(244, 167, 0, 1);
    background: -moz-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244, 167, 0, 1)), color-stop(100%, rgba(209, 216, 13, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
    background: linear-gradient(135deg, rgba(244, 167, 0, 1) 0%, rgba(209, 216, 13, 1) 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    border: 2px solid #fff;
  }
}

.access-rights-table-block {
  width: 100%;
  overflow: auto;
	-webkit-overflow-scrolling:touch;
  min-height: 800px;
  margin-bottom: 100px;

  .main-table-block {
    th:not(.table-checkbox) {
      min-width: 180px;
    }
  }
}

.opened-members-block {
  display: grid;
  grid-template-columns: 25px max-content 125px;
  grid-gap: 20px;

  .team-member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 220px;
    padding-right: 10px;

    &.opened {
      .dropdown-with-icon:not(.show) {
        * {
          opacity: 0.6;
        }
      }
    }
  }

  .UserAvatar--inner {
    margin-right: -10px; 
  }
}

.avatar-with-dropdown {
  background-color: transparent;
}

.popup-add-team-member {
  display: flex;
  align-items: baseline;
  align-self: flex-start;
  margin-top: 8px;
}

.popup-toggle-members-btn {
  &.hider {
    align-self: flex-end; 
  }

  &.shower {
    align-self: center; 
  }
}

.master-star-icon {
  position: absolute;
  background: url('../../../images/leader.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  min-width: 20px;
  height: 20px;
  top: 30px;
  left: 10px;
}

.users-row-margin-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 340px;
  
  .UserAvatar--inner {
    margin-right: -10px;
  }
}

.filter-grid {
  display: grid;
  padding: 24px !important;
  padding: 1.5rem !important;
  // grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;

  .filter-grid-column {

    label {
      cursor: pointer;
      color: rgba(0, 0, 0, .87);
      margin-bottom: 0;
    }

    .filter-grid-row {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid lightgray;
      
      .common-row {
        display: flex;
        margin-right: 30px;
      }

      .filter-grid-subcolumn {
        padding-left: 3em;
        -webkit-transition: max-height .3s ease,
                            border .3s ease,
                            margin .3s ease,
                            padding .3s ease;
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        
        .filter-grid-subrow {
          display: flex;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          margin-right: 30px;
        }
      }

      label.filter-grid-row-opener {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-transition: margin .3s ease;

        i {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);

          &:hover {
            cursor: pointer;
          }
        }
      }

      #grid-row-opener:checked~.filter-grid-subcolumn {
        max-height: 600px;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: overflow .5s;
        margin-top: 15px;
      }

      #grid-row-opener:checked~.d-flex .filter-grid-row-opener {
        i {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          margin-bottom: 0;
        }
      }
    }
  }
}

.codification-codes-title-row {
  display: grid;
  grid-template-columns: 130px 0.7fr repeat(5, 1fr 0.3fr) 1fr;
  
  .codification-codes-title-column {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;

    & > label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .dash-symbol {
      color: lightgray;
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      padding-top: 10px;
    }
    
    .codification-codes-title-column__title {
      border-bottom: 2px solid lightgray;
      white-space: nowrap;
      overflow: visible;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.project {
      .codification-codes-title-column__code {
        grid-gap: 1vh;
      }

      @media only screen and (max-width: 1300px) {
        .codification-codes-title-column__code {
          grid-gap: 5px;
        }
      }
      .codification-codes-title-column__title {
        color: #0a9caa;
        border-color: #0a9caa;
      }
    }

    &.company {
      .codification-codes-title-column__title {
        color: #5300b2;
        border-color: #5300b2;
      }
    }

    &.discipline {
      .codification-codes-title-column__title {
        color: #0cb4b5;
        border-color: #0cb4b5;
      }
    }

    &.document_type {
      .codification-codes-title-column__title {
        color: #fe6b1f;
        border-color: #fe6b1f;
      }
    }

    &.document_number {
      .codification-codes-title-column__code {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
      }

      .codification-codes-title-column__title {
        color: #4d5c5d;
        border-color: #4d5c5d;
      }
    }

    &.revision {
      .codification-codes-title-column__title {
        color: #fe4584;
        border-color: #fe4584;
      }
    }

    &.free_text {
      .codification-codes-title-column__title {
        color: #4d5c5d;
        border-color: #4d5c5d;
      }
    }
  }
}

.codification-codes-title-column__code {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  
  .form-control {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  span {
    color: lightgray;
    font-size: 1.5em;
  }
}

.codification-codes-values-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4vh;
  padding: 24px !important;
  padding: 1.5rem !important;

  .codification-codes-values-column {
    display: flex;
    flex-direction: column;

    .codification-codes-values-block {
      padding: 1em;
      border: 1px solid;
      border-radius: 5px;
      margin-bottom: 15px;

      &.originating_company {
        border-color: #5300b2;
      }

      &.discipline {
        border-color: #0cb4b5;
      }

      .codification-codes-values-block__values-list {
        display: grid;
        margin-top: 10px;
        margin-bottom: 10px;

        .codification-codes-values-block__value {
          padding-top: 5px;
          padding-bottom: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          .remove-item {
            cursor: pointer;
          }

          .form-control:focus {
            outline: none;
            box-shadow: none;
            border-color: #ced4da;
          }
        }
      }
    }
    
    .codification-codes-values-row {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}

.conventions-settings-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vh;

  .conventions-settings-block {
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  .conventions-settings-card {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;

    .check-icon {
      display: flex;
      justify-items: flex-end;
      justify-content: flex-end;
      align-items: center;
    }

    .conventions-settings-title-card {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      justify-items: center;
      justify-content: center;

      .conventions-settings-card__title {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        font-size: 1.3em;
      }
    }

    .conventions-settings-btn-edit {
      background-color: #0096FA !important;
      color: #fff;
      border-top-left-radius: 0; 
      border-top-right-radius: 0; 
    }

    &.active {
      background-color: #f2f7f7;

      .card-active {
        color: #19b84f;
      }
    }
  }

  .conventions-settings-conv-info {
    display: grid;
    grid-template-rows: 30px 45px 30px;
    grid-gap: 1vh;

    .conventions-settings-conv-info__row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2vh;
      align-items: center;

      label {
        margin: 0;
      }

      .changed-by {
        display: grid;
        grid-template-columns: 45px 3fr;
        grid-template-rows: 45px;
        grid-gap: 10px;

        .UserAvatar {
          display: flex;
          align-items: center;
        }

        .changed-by__user-info {
          display: grid;
          grid-template-rows: 1fr 1fr;
        }
      }
    }
  }
}

.codification-second-conv {
  display: grid;
  grid-template-rows: 1fr 2fr;

  .codification-second-conv__project-block {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 50px;
    max-width: 60%;

    .codification-second-conv__left-block {
      display: grid;
      grid-template-rows: 1fr 2fr;

      .codification-codes-title-column__title {
        border-bottom: 2px solid rgba(0, 0, 0, .87);
        white-space: nowrap;
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .codification-codes-title-column__code {
      grid-gap: 1vh;
    }

    .codification-second-conv__right-block {
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-gap: 1vh;

      .codification-second-conv__right-block_buttons {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 3vh;
      }
    }
  }
}

.dg-members {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  .btn-white-blue.with-dots {
    justify-content: flex-end;
    margin-right: 10px;
  }
}

.copy-team-to-dg-tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

  .selected-count {
    color: #0096FA;
  }

  .table-contaniner {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    height: 55vh;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .dg-name {
    font-size: 18px;
    align-content: center;
    align-items: center;
    display: flex;
  }

  .copy-team-to-dg-tables_column {
    display: grid;
    grid-template-rows: 80px 50px 5fr;
  }
}


.draggable-table-row {
  transition: 0s;
  border-radius: 10px;
  border-width: 1px;
  border-style: dashed;
  border-color: #fff;

  .name-column {
    display: table-cell !important;
  }

  &:not(:hover) * {
    transition: 0s !important;
  }

  .btn.btn-white-blue {
    height: fit-content;
  }

  &.dragging {
    border-color: lightblue;
    background-color: lightblue;

    .form-group, .d-flex {
      background-color: lightblue;

      .btn.btn-white-blue {
        background-color: lightblue !important;
      }
    }
  }
}

.new-document-table {
  .form-group {
    min-height: 70px;

    textarea {
      min-height: 120px !important;
      height: 120px !important;
      max-height: 120px;
    }
  }
}

.document__email_addresses-list {
  display: flex;
  flex-wrap: wrap;

  .document__email_addresses-list__item {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-right: 5px;
    background: gray;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 1rem;
    color: #fff;
    
    span {
      line-height: 1;
    }

    button {
      width: 15px;
      height: 15px;
      text-align: center;
      vertical-align: middle;
      line-height: initial;
      border: none;
      border-radius: 10px;
      margin-left: 5px;
      line-height: 1;
    }
  }
}

.file-name-row {
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;

  .document-id-code {
    max-width: 20%;

  input {
    text-transform: uppercase !important;
  }

    &:not(:last-of-type) {
      padding-right: 15px;
    }
  }
}

.folder_edit__no-options {
  * {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: gray;
  }
}

.folder-setting-table {
  .folder-setting-table__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 4em;

    &.head-row {
      color: gray;
      border-bottom: 1px solid lightgray;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }

    & > div {
      display: flex;
      align-items: center;
      align-content: center;

      .form-group {
        margin: 0
      }
    }
  }
}
